.wrapper {
  width: 800px;
  margin: 0 auto;
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

img {
  max-width: 100%;
}
